.container {
  display: flex;
  width: 80%;
  margin: auto;
  justify-content: space-evenly;
  align-items: center;
}
.content-left {
  flex: 0 0 35%;
}
.content-right {
  align-self: flex-start;
  flex: 0 0 60%;
}
.content-left,
.content-right {
  position: relative;
  top: 70px;
}
.content-left-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.radioBtn {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}
#gender {
  text-align: center;
}
#email {
  text-align: left;
}
#password {
  text-align: left;
}
.btnSave {
  display: flex;
  justify-content: center;
  align-items: center;
}
